<div class="row">
<section class="container" style="background:#fff;" id="queeslobbyscaliza">
  
    <div class="col-lg-12 contenedor_arriba">
        <div class="col-lg-6 text_arriba">
             <h1>Qué es Lobbyscaliza</h1>
             <p>Lobbyscaliza es una plataforma ideada por Fundación Multitudes dispuesta al servicio de la comunidad, construida sobre datos provistos por organismos públicos del Estado de Chile relativos a Lobby y Compras Públicas. La principal finalidad de esta herramienta es entregar un insumo que promueva la investigación y fiscalización, las que pueden provenir indistintamente de la sociedad civil, academia, organismos fiscalizadores, entre otros.</p>
        </div>
        <div class="col-lg-6 img_arriba">
            <div class="degradado_grande"></div>
             <img  src="/static/img/06.jpg" alt="First slide">
        </div>
    </div>
    <div class="col-lg-12 contenedor_abajo">
          <div class="col-lg-6 img_abajo">
             <div class="degradado_grande"></div>
             <img  src="/static/img/07.jpg" alt="First slide">
        </div>
        <div class="col-lg-6 text_abajo">
            <h1>¿Cuál es su uso?</h1>
            <p>Es una plataforma de uso transversal, que presta sus servicios a todo aquel que tenga la necesidad de observar relaciones entre Lobby y Compras realizadas en el Estado de Chile. Mediante el uso de buscadores podrás encontrar información individualizada sobre las audiencias por Ley de Lobby que han mantenido tanto proveedores como organismos compradores del Estado, que hayan sido transadas mediante el sistema de Mercado Público.</p>
        </div>
        
    </div>
</section>
</div>