// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext');

body{
    font-family: 'Roboto', sans-serif!important;
    position: relative;
    padding-bottom: 200px;
}
nav{    
    background: linear-gradient(180deg, rgba(109,40,114,1) 0%, rgba(159,46,106,1) 100%);
    padding: 10px 25px;
    top: 0;
    font-family: 'Sintony', sans-serif;
    width: 100%;
    position: fixed;
    z-index: 100;
    @media(max-width:960px){
        background: rgba(197, 197, 197, 1);
    }
    img{
        max-width: 140px;
        float: left;
        @media(max-width:960px){
            max-width: 90px;
        }
    }
    .links{
        float: right;
        margin-top: 15px;   
        a{
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            margin-right: 20px;

            -webkit-transition: all 400ms ease-in-out;
                -moz-transition: all 400ms ease-in-out;
                -ms-transition: all 400ms ease-in-out;
                -o-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out;
            &:hover{
                color: #FFFFFF;
                font-weight: bold;
                text-decoration: none;
                font-size: 18px;

                -webkit-transition: all 400ms ease-in-out;
                -moz-transition: all 400ms ease-in-out;
                -ms-transition: all 400ms ease-in-out;
                -o-transition: all 400ms ease-in-out;
                transition: all 400ms ease-in-out;

            }
            
            @media(max-width:960px){
                font-size: 14px;
                margin-right: 14px;

                
            }
           
        }
    }
}
.yield{
    max-width: 1368px;
    margin: 0 auto;
}
.carousel{
    width: 100%;
    margin: 0;
    margin-top: -15px;
    // margin-left: -5%;
    
    margin-bottom: 40px;
    padding: 0;
}
section{
    margin-bottom: 75px;
    h1{
        font-size: 30px;
        color: #212121;
        margin: 15px 0;
        @media(max-width:960px){
            font-size: 23px;
        }
    }
    h2{
        font-size: 24px;
        text-align: left;
        color: #212121;
        margin: 25px 0;
        @media(max-width:960px){
            font-size: 20px;
        }
    }
    p{
        font-size: 17px;
        color: #212121;
        font-weight: 300;
        margin-bottom: 40px;
        @media(max-width:960px){
            font-size: 14px;
        }
    }
}

.row{
    padding: 0;
    margin: 0;
    .col-lg-12{
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    }
    .col-lg-6{
        padding: 0;
        margin: 0;
        

    }
}



.info_box{
    width: 99%;
    height: 360px;
    overflow: hidden;
    margin-bottom: 2%;

    h2{
        width: 100%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 90px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 24px;
    }

    p{
        width: 100%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 145px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 20px;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    
    .degradado_izquierda{
        width: 99%;
        height: 360px;
        position: absolute;
        background: linear-gradient(135deg, rgba(98,39,116,1) 0%, rgba(197,51,100,0.25) 100%);
    }

    
    
    a{
        width: 20%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 235px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 14px;
        
        border: solid 2px white;
            border-radius:10px;
            margin-left: 40%;
            padding: 1px 3px;

            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            -ms-transition: all 400ms ease-in-out;
            -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            
        
        &:hover{
            background: white;
            color: #622774;
            text-decoration: none;

            -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        }
    }
}

.info_box_right{
    width: 99%;
    height: 1108px;
    overflow: hidden;
    margin-left: 1%;

    h2{
        width: 100%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 410px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 24px;
    }

    p{
        width: 100%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 465px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 20px;
    }


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .degradado_derecha{
        width: 99%;
        height: 1108px;
        position: absolute;
        background: linear-gradient(135deg, rgba(98,39,116,1) 0%, rgba(197,51,100,0.25) 100%);
        
    }
    
    a{
        width: 20%;
        font-family: 'Sintony', sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: transparent;
        margin: 0 auto;
        margin-top: 550px;
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 14px;
        
        border: solid 2px white;
            border-radius:10px;
            margin-left: 40%;
            padding: 1px 3px;

            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            -ms-transition: all 400ms ease-in-out;
            -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            
        }
        a:hover{
            background: white;
            color: #622774;
            text-decoration: none;

            -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        }
}

    .info_box_grande{
        width: 100%;
        height: 360px;
        overflow: hidden;

        h2{
            width: 100%;
            font-family: 'Sintony', sans-serif;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            margin: 0 auto;
            margin-top: 110px;
            position: absolute;
            z-index: 1;
            color: white;
            font-size: 24px;
        }
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .degradado_grande{
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(135deg, rgba(98,39,116,1) 0%, rgba(197,51,100,0.25) 100%);
        }
        
        
        a{
            width: 10%;
            font-family: 'Sintony', sans-serif;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            margin: 0 auto;
            margin-top: 195px;
            position: absolute;
            z-index: 1;
            color: white;
            font-size: 14px;

            border: solid 2px white;
            border-radius:10px;
            margin-left: 45%;
            padding: 1px 3px;

            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            -ms-transition: all 400ms ease-in-out;
            -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            
        }
        a:hover{
            background: white;
            color: #622774;
            text-decoration: none;

            -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        }
    }





.yield{
    .container{
        margin-top:10%;
        padding: 0;
        padding-bottom:3%; 
        border-radius:10px;
        background: linear-gradient(72deg, rgba(98,39,116,1) 0%, rgba(197,51,100,1) 100%);

        h2{
            padding-top:2%;
            margin-left: 3%;
            color: #FFFFFF;
            font-size: 18px; 
        }
        .dt-buttons{
            width: 40%;
            margin-bottom:1%;
            .dt-button{
                cursor: pointer;
                background: transparent;
                margin: 0;
                margin-top: 1%;
                margin-left: 5%;
                padding: 7px 10px;
                color: #ffffff;
                z-index: 1;
                border: none;
                border-radius: 5px;

                -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;

                &:hover{
                    background: #ffffff;
                    color: #622774;

                    -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
                }
            }
        }
        
        .boton_json{ 
            cursor: pointer;
            background: transparent;
            margin: 0;
            margin-top: 15px;
            margin-left: 2%;
            padding: 7px 10px;
            border: none;
            color: #ffffff;
            z-index: 1;
            border-radius: 5px;

            -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;

            &:hover{
                background: #FFFFFF;
                color: #622774;

                -webkit-transition: all 400ms ease-in-out;
        -moz-transition: all 400ms ease-in-out;
        -ms-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
            }
        }

        .dataTables_filter{
            
            width: 30%;

            label{
                margin-right:10%;
                color: #FFFFFF;

                input{
                    border:none;
                    border-radius:10px;
                }
            }

            
        }

        .dataTable{
            a{
                color:#622774;
                font-weight: bold;
            }

            .even{
                background: #eaeaea;
            }
        }

        .dataTables_info{
            color: #fff;
            margin-left: 2%;
            padding-bottom: 2%;

        }



    }
}


.tabulator {
    background: none!important;
    border:none!important;
    
    

    .tabulator-header .tabulator-col {
        text-align: center!important;
        overflow: hidden;
        border: none!important;
       
        .tabulator-col-content{
            
            color: white;
       
            font-weight: 300;
            border:none;
        }
    } 


}

.tabulator-row .tabulator-cell{
    border: none!important;
    height: 40px!important;
    padding: 7px;
    text-align: center;
    
}
table{
    
    
    thead{
       border: none;
        color: white;
 
        vertical-align:center;
        font-weight: 300;
        th{
            color: #FEFEFE;
            text-align: center; 
            
        }
    }
    th{
        font-size: 14px;
        color: #212121;
        text-align: justify; 
        font-weight: 400;
        border-bottom: solid 1px #FFFFFF;
        @media(max-width:960px){
            font-size: 13px;
        }
    }
    td{
        font-size: 14px;
    }
}

.container{
    font-family: 'Sintony', sans-serif;
    
        .contenedor_arriba{
            width: 100%;
            height: 460px;
            float: left;
            margin: 3% 0;
            background-image: linear-gradient(to right bottom, #622774, #7f2674, #992771, #b02b6c, #c53364);
            overflow: hidden;
            border-radius: 10px;
            .text_arriba{
                width: 45%;
                float: left;
                margin: 0 auto;
                margin-left: 2.5%;
                margin-top: 7%;
                

                h1{
                    color: #FFFFFF;
                    font-weight: bold;

                }

                p{
                    color: #FFFFFF;

                }

            }
            .degradado_grande{
                width:100%;
                height: 100%;
                position: absolute;
                background: linear-gradient(135deg, rgba(98,39,116,1) 0%, rgba(197,51,100,0.25) 100%);
            }
            .img_arriba{
                width: 50%;
                float: left;
                margin: 0 auto;
                margin-left: 2.5%;
                img{
                    width: 120%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;

                }
            }
        }
        


        .contenedor_abajo{
            width: 100%;
            height: 460px;
            float: left;
            overflow: hidden;
            margin: 3% 0;
            background-image: linear-gradient(to right bottom, #622774, #7f2674, #992771, #b02b6c, #c53364);
            border-radius: 10px;
            .text_abajo{
                width: 45%;
                float: left;
                margin: 0 auto;
                margin-left: 2.5%;
                margin-top: 7%;
                

                h1{
                    color: #FFFFFF;
                    font-weight: bold;

                }

                p{
                    color: #FFFFFF;

                }

            }
            .degradado_grande{
                width:100%;
                height: 100%;
                position: absolute;
                background: linear-gradient(135deg, rgba(98,39,116,1) 0%, rgba(197,51,100,0.25) 100%);
            }
            .img_abajo{
                width: 50%;
                float: left;
                margin: 0 auto;
                overflow: hidden;
                img{
                    width: 130%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;

                }
            }
        }

}










footer{
    background: #212121;
    padding: 20px 0!important;
    width: 100%!important;
    margin: 0!important;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    @media(max-width:960px){
        position: inherit;
    }
    ul{
        li{
            margin: 10px 0;
            a{
                color: #FFFFFF;
                opacity: 0.58;
                font-size: 16px;
                &:hover{
                    text-decoration: none;
                    color: #FFFFFF;
                }
                @media(max-width:960px){
                    font-size: 14px;
                }
            }
       
        }
    }
    img{
        width: 60%;
        margin: 0;
        @media(max-width:960px){
            width: 40%;
        }
    } 
}

.dataTables_wrapper{
    .dataTables_paginate{
        background: #FFFFFF;
        border-radius: 10px;
        margin-right: 3%;
        margin-top: 2%;
        padding: 0.5% 2% !important;
        
        .paginate_button{
            color: #FFFFFF;
            a{
            color: #FFFFFF !important;
            }

        }

        .current{
            color: none;
        }
        
    }
}


.top-nav{
    margin-top: 120px;
    padding: 5%;

    .dt-buttons{
        .boton_json{
            margin-top:-9%;
            margin-left:6%;
        }
    }
    

    h1{
        color: #FFFFFF;
    }
    .dataTables_paginate{

        color: #FFFFFF;

        a{
            color: #FFFFFF;
        }

        
        span{
            color: #FFFFFF !important;
            background: transparent;
            border: none;
            border-radius: 10px;
            
            .paginate_button{
                color: #FFFFFF;
                background: transparent;
            }
        }
    }
    
        
    
        
}

#element{
    width: 100%;
    margin: 0 auto;
    margin-left: 15%;
    padding: 15% 0;
    color: #FFFFFF;
    
    .col-12{
        margin-top: 3%;
    }

    .btn{
       padding: 1% 2%;
        background: #FFFFFF;
        color: #622774;
        border: none;

        -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;

        &:hover{
            background: #622774;
            color: #ffffff;

            -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
        }


    }

    ::placeholder{
        color: #aeaeae;
    }
    input{
        background: transparent;
        color: #FFFFFF;
        border: solid 2px #FFFFFF;
        border-radius: 10px;
        margin-left: 1%;
        margin-right: 3%;

        #text{
            color: #FFFFFF;
        }
    }

    h1{
        color: #FFFFFF;
        font-weight: bold;
    }
}

#car{
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


// PArche
.inicio_page{
    .dataTables_length{
        display: none!important;
    }
    
    .dataTables_info{
        display: none!important;
    }
    .top_lobbysta_proveedor_filter{
        display: none!important;
    }
}
