// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
    font-family: 'Roboto', sans-serif!important;
    position: relative;
    padding-bottom: 200px;
}
nav{    
    background: rgba(197, 197, 197, 0.92);
    padding: 10px 25px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    @media(max-width:960px){
        background: rgba(197, 197, 197, 1);
    }
    img{
        max-width: 140px;
        float: left;
        @media(max-width:960px){
            max-width: 90px;
        }
    }
    .links{
        float: right;
        margin-top: 15px;   
        a{
            color: #1074BC;
            font-size: 16px;
            font-weight: 300;
            margin-right: 20px;
            @media(max-width:960px){
                font-size: 14px;
                margin-right: 14px;
            }
            &:hover{
                color: #1074BC;
            }
        }
    }
}
.yield{
    max-width: 1368px;
    margin: 0 auto;
}
.carousel{
    width: 100%;
    margin: 0;
    margin-top: -15px;
    // margin-left: -5%;
    
    margin-bottom: 40px;
    padding: 0;
}
section{
    margin-bottom: 75px;
    h1{
        font-size: 30px;
        color: #212121;
        margin: 15px 0;
        @media(max-width:960px){
            font-size: 23px;
        }
    }
    h2{
        font-size: 24px;
        text-align: left;
        color: #212121;
        margin: 25px 0;
        @media(max-width:960px){
            font-size: 20px;
        }
    }
    p{
        font-size: 17px;
        color: #212121;
        font-weight: 300;
        margin-bottom: 40px;
        @media(max-width:960px){
            font-size: 14px;
        }
    }
}
table{
    -webkit-box-shadow: 3px 3px 10px 0px rgba(125,125,125,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(125,125,125,1);
    box-shadow: 3px 3px 10px 0px rgba(125,125,125,1);
    thead{
        background: #4938C1;
        color: white;
 
        vertical-align:center;
        font-weight: 300;
        th{
            color: #FEFEFE;
            text-align: center; 
        }
    }
    th{
        font-size: 14px;
        color: #212121;
        text-align: justify; 
        font-weight: 400;
        @media(max-width:960px){
            font-size: 13px;
        }
    }
}

footer{
    background: #212121;
    padding: 20px 0!important;
    width: 100%!important;
    margin: 0!important;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    @media(max-width:960px){
        position: inherit;
    }
    ul{
        li{
            margin: 10px 0;
            a{
                color: #FFFFFF;
                opacity: 0.58;
                font-size: 16px;
                &:hover{
                    text-decoration: none;
                    color: #FFFFFF;
                }
                @media(max-width:960px){
                    font-size: 14px;
                }
            }
       
        }
    }
    img{
        width: 60%;
        margin: 0;
        @media(max-width:960px){
            width: 40%;
        }
    } 
}




.top-nav{
    margin-top: 120px;
}

#element{
    width: 100%;
    margin: 12%;
}

#car{
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}